* {
  box-sizing: border-box;
}

.logo {
  font-family: "Bungee Inline", sans-serif;
}

.center-loader-screen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
